/* Setting Variables : Font Family */
$primary-kr: "Noto Sans KR", sans-serif;
$primary-en: "Mukta", sans-serif;
$bs-font: bootstrap-icons;

/* Setting Variables : Main Color */
$dark-blue: #0A3A82;
$dark-red: #D00000;
$dark-gray: #282828;
$light-gary: #EFEFEF;
$black: #000000;
$white: #ffffff;